<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Failed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 100px;
        }
        .alert {
            border-radius: 0;
        }
        h1 {
            margin-bottom: 20px;
            color: #dc3545;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>

<div class="container text-center">
    <img src="https://www.shutterstock.com/image-photo/cool-rich-successful-hipster-cat-260nw-2275950521.jpg" class="img-fluid mb-4" alt="Order Failed Image">
    <h1 class="display-4">Payment Failed</h1>
    <div class="alert alert-danger" role="alert">
        <strong>Oops!</strong> Your order could not be processed.
    </div>
    <p>Please try again later or contact customer support for assistance.</p>
    <a href="{% url "cart" %}" class="btn btn-primary">Go Back to Cart</a>
</div>

</body>
</html>